<div class="jumbotron mt-5">
    <div class="card mx-auto col-md-6">
        <div class="card-head">
            <h3 class="text-danger ml-4 mt-4">Register</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="fullname" class="form-control" placeholder="Fullname">
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="text" name="address" class="form-control" placeholder="Address">
                </div>
                <div class="form-check-inline">
                    Gender
                    <small class="ml-4">Female</small><input type="radio" name="gender" value="female"
                        class="form-check-input">
                    &nbsp; <small>Male</small> <input type="radio" name="gender" value="male" class="form-check-input">
                </div>

                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="password">
                </div>
                <div class="form-group">
                    <input type="password" name="cpassword" class="form-control" placeholder="Confirm password">
                </div>
                <button type="submit" class="btn btn-danger">Register</button>
            </form>
        </div>
    </div>
</div>