<!-- logo and intro -->
<div class="container-fluid wrapper">
    <div class="row">
        <div class="col-md-3">
            <img class="logo mt-4" src="../../../assets/logo.png">
        </div>
        <div class="col-md-6">
            <h2 class="text-center  mt-4">SMART INFRASTRUCTURE DEVELOPMENT SYSTEM</h2>
        </div>
        <div class="col-md-3">
            <img src="https://www.animatedimages.org/data/media/839/animated-nepal-flag-image-0007.gif" border="0"
                alt="animated-nepal-flag-image-0007" class="flag mt-2" />
        </div>
    </div>

</div>
<!-- navigation -->

<nav class="navbar navbar-expand-md navbar-dark bg-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-2">
                <a class="nav-link" routerLink="/">Home </a>
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link" routerLink="/notice">Notice</a>
            </li>
            <li class="nav-item dropdown ml-2">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Categories</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Road Construction</a>
                    <a class="dropdown-item" href="#">Environment</a>
                    <a class="dropdown-item" href="#">Eduction</a>
                </div>
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link" routerLink="/result">Result</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-2" *ngIf="!this.auth">
                <a class="nav-link" routerLink="/login">Login <i class="fa fa-sign-in"></i></a>
            </li>
            <li class="nav-item ml-2" *ngIf=" !this.auth">
                <a class="nav-link" routerLink="/register">Register <i class="fa fa-user-plus"></i></a>
            </li>
            <li class="nav-item ml-2" *ngIf="this.auth">
                <a class="nav-link" (click)="logout()">Logout <i class="fa fa-lock"></i></a>
            </li>
        </ul>

    </div>
</nav>